.App {
  text-align: center;
}

.cont{
  background-color: rgb(114, 154, 240);
  border: 1px solid rgb(24, 10, 133);
  border-radius: 15px;
  margin: 10% 30%;
  padding: 4%;
  height: 50%;
  color: white;
}

button{
  background-color: blueviolet;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin: 15px 20px 3px;
  padding: 10px;
  color: white;
}

